[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-filter = "==2.1.0"
graphene-django = ">=2.6.0"
django = "==2.2.6"

[dev-packages]
pytest = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
